@font-face {
    font-family: "logo";
    src: url("logo.eot"); /* IE9 */
    src: url("logo.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("logo.woff") format("woff"), /* chrome、firefox */
    url("logo.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("logo.svg#logo") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


